<h2>List of Physicians</h2>

<ul>
  <li *ngFor="let physician of physicians">
    <h2 (click)="physicianClicked(physician)">{{physician.lastName}}</h2>
  </li>
</ul>
<hr>
First Name <input type="text" [(ngModel)]="selectedPhysician.firstName"/><br>
Last Name <input type="text" [(ngModel)]="selectedPhysician.lastName"/><br>
Maximum Shifts <input type="text" [(ngModel)]="selectedPhysician.maxShiftLoad"/><br>
Phone <input type="tel" [(ngModel)]="selectedPhysician.phoneNumber"/><br>
<!--Specialty <input type="text" [(ngModel)]="specialty"/><br>-->
Specialty <select [(ngModel)]="selectedPhysician.specialty">
  <option value="Family Medicine">Family Medicine</option>
  <option value="Surgery">Surgery</option>
  <option value="Hospice and Palliative Medicine">Hospice and Palliative Medicine</option>
  <option value="Internal Medicine">Internal Medicine</option>
  <option value="">-----</option>
</select><br>
<button (click)="updatePhysician()">
  Save
</button>
<button (click)="createPhysician()">
  Create
</button>
<button (click)="deletePhysician()">
  Delete
</button>


